body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./todolist.jpg);
  background-size: cover;
}

.app-container {
  background-color: #54e49c;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height:300px;
}

h1 {
  text-align: center;
  color: #333;
}

.task-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-input input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.task-input button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #218838;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item span {
  flex-grow: 1;
}

.task-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.task-item button:hover {
  background-color: #0056b3;
}

.task-item button:last-child {
  background-color: #dc3545;
}

.task-item button:last-child:hover {
  background-color: #c82333;
}
